@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    color: var(--brand-color);
    font-family: var(--main-type-text);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;}

[type=button],
[type=submit],
a,
button {
    transition-timing-function: ease-in;
    transition-duration: .2s;
    cursor: pointer;
    border: none;
    border-color: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

h1, h2, h3, h4 {
    margin: 0;
}

.section { 
    display: block;
    // max-width: 1600px;    
    padding: 50px 0;
    margin: auto;
}