@charset "UTF-8";
// font-family: 'Bebas Neue',
// sans-serif;
// font-family: 'Comfortaa',
// cursive;
// font-family: 'Kanit',
// sans-serif;
// font-family: 'Lobster',
// cursive;
// font-family: 'Monoton',
// cursive;
// font-family: 'Righteous',
// cursive;
// font-family: 'Teko',
// sans-serif;
// font-family: 'VT323',
// monospace;
.hero {
    display: block;
    // padding: 0 30px;
    // background-color: #c4c4c4;
    text-align: center;
    max-width: 1600px;
    background-color: #c4c4c400;
    padding: 50px 0;
    background-image: url(../images/NewFon2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: cover;
}

// @media (min-device-pixel-ratio: 2),
// (-webkit-min-device-pixel-ratio: 2),
// (min-resolution: 192dpi),
// (min-resolution: 2dppx) {
//     .hero {
//         background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.300)),to(rgba(47, 48, 58, 0.150))), url(../images/FON.jpg);
//         background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.300)),
//             (rgba(47, 48, 58, 0.150)), url(../images/FON.jpg);
//     }
// }

// @media screen and (min-width: 481px) {
//     .hero {
//         background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.300)),to(rgba(47, 48, 58, 0.150))), url(../images/FON.jpg);
//         background-image: linear-gradient(to top left,rgba(47, 48, 58, 0.300)),
//             (rgba(47, 48, 58, 0.150)), url(../images/FON.jpg);
//     }
// }

// @media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
// screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2),
// screen and (min-width: 481px) and (min-resolution: 192dpi),
// screen and (min-width: 481px) and (min-resolution: 2dppx) {
//     .hero {
//         background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.300)),to(rgba(47, 48, 58, 0.150))), url(../images/FON.jpg);
//         background-image: linear-gradient(to top left,rgba(47, 48, 58, 0.300)),
//             (rgba(47, 48, 58, 0.150)), url(../images/FON.jpg);
//     }
// }

// @media screen and (min-width: 769px) {
//     .hero {
//         background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.300)),to(rgba(47, 48, 58, 0.150))), url(../images/FON.jpg);
//         background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.300)),
//             (rgba(47, 48, 58, 0.150)), url(../images/FON.jpg);
//     }
// }

// @media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
// screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
// screen and (min-width: 769px) and (min-resolution: 192dpi),
// screen and (min-width: 769px) and (min-resolution: 2dppx) {
//     .hero {
//         background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.300)),to(rgba(47, 48, 58, 0.150))), url(../images/FON.jpg);
//         background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.300)),
//             (rgba(47, 48, 58, 0.150)), url(../images/FON.jpg);
//     }
// }

@media screen and (min-width: 1200px) {
    .hero {
        padding: 30px 0;
    }
}


.hero-wrapp {
    display: flex;
    align-items: center;
    @media screen and (min-width: 480px) {
        padding: 80px 0 80px;
    }
    
    //  tablet
    @media screen and (min-width: 768px) {
        padding: 160px 0 120px;
    }
    
    //  desktop
    @media screen and (min-width: 1200px) {
        padding: 155px 0 155px;
    }
}

.spolight {
    color: var(--grey-bg-color);
    font-weight: 500;
}

.hero-descr {
    text-align: start;
    padding: 0 6px;
    @media screen and (min-width: 480px) {
            padding: 0 10px;
        }
    
        //  tablet
        @media screen and (min-width: 768px) {
            padding: 0 14px;
        }
    
        //  desktop
        @media screen and (min-width: 1200px) {
            padding: 0 18px;
        }
}

.hero-title {
    margin-bottom: 6px;
    font-family: var(--main-type-title);
    color: var(--grey-bg-color);
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .1s;

    @media screen and (min-width: 480px) {
        font-size: 60px;
        margin-bottom: 10px;
    }
            
    //  tablet
    @media screen and (min-width: 768px) {
        font-size: 80px;
        margin-bottom: 14px;
    }
            
    //  desktop
    @media screen and (min-width: 1200px) {
        font-size: 120px;
        margin-bottom: 20px;
    }
}

@keyframes slideUp {
    // 0% {
    //     transform: translateY(300px);
    // }

    // 100% {
    //     transform: translateY(0px);
    // }
//   0% {
//       transform: translateX(1400px);
//   }

//   100% {
//       transform: translateX(0px);
//   } 
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

.hero-text,
.hero-link {
    margin: 0;
    margin-bottom: 6px;

    font-size: 10px;
    color: var(--grey-bg-color);

    transform: translateY(100px);
    animation: slideUp .8s ease forwards .1s;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    //  tablet
    @media screen and (min-width: 768px) {
        font-size: 17px;
        margin-bottom: 14px;
    }
    
    //  desktop
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &:hover {
        cursor: pointer;
    }
}

.hero-btn {
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    transform: translateY(100px);
    animation: wiggle 2s linear infinite;

    @media screen and (min-width: 480px) {
        font-size: 12px;
        padding: 6px 12px;
    }
    
    //  tablet
    @media screen and (min-width: 768px) {
        padding: 8px 16px;
        font-size: 17px;
    }
    
    //  desktop
    @media screen and (min-width: 1200px) {
        padding: 10px 20px;
        font-size: 20px;
    }

        &:hover {
            color: var(--light-color);
            background-color: var(--brand-color);
            cursor: pointer;
        }
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}