:root {
    --dark-text-color: #212121;
    --title-text-color: #757575;
    --brand-color: #007be0;
    --light-color: #ffffff;
    --grey-bg-color: #2F303A;

    --main-type-title: 'Lobster';
    --main-type-text: 'Bebas Neue';
}