<body>
  <header class="header">
    <div class="logo">
      <a href="#" class="logo_link">
        <img class="logo" src="./images/logo_OK1.png" alt="" />
      </a>
    </div>
    <div class="menu">
      <button
        class="menu_contacts js-open-menu-contacts"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        contact us</button
      ><button
        class="menu_main js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu_main_icon" width="32" height="32">
          <use href="./images//icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <!-- -----------------Contacts us----------------- -->
    <div
      class="section menu-container js-menu-container-contacts"
      id="mobile-menu-contacts"
    >
      <div class="contact-us_main-wrapp">
        <button
          class="menu-toggle js-close-menu-contacts"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="icon-close" width="40" height="40">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="logo contact-us">
          <a href="#" class="logo_link">
            <img class="logo" src="./images/logo_OK1.png" alt="" />
          </a>
        </div>
        <h2 class="contact-us_title">
          E-MAIL US AT
          <span class="contact-us_link"
            ><a href="mailto:CONTACT@ZGRAYA.DIGITAL" class="contact-link">
              CONTACT@ZGRAYA.DIGITAL</a
            ></span
          >
          OR SEND US A MESSAGE HERE
        </h2>
        <form class="modal-form">
          <ul class="modal-list list">
            <li class="modal-item">
              <label for="user-name" class="modal-label">Name</label>
              <input
                type="text"
                class="modal-input"
                name="user-name"
                minlength="2"
                id="user-name"
                required=""
              />
            </li>
            <li class="modal-item">
              <label for="user-email" class="modal-label">Email</label>
              <input
                type="email"
                class="modal-input"
                name="user-email"
                id="user-email"
                required=""
              />
            </li>
          </ul>
          <div class="modal-comment-wrapp">
            <label for="user-comment" class="text">Your message</label>
            <textarea
              name="user-comment"
              class="modal-comment"
              id="user-comment"
              cols="30"
              rows="10"
              required=""
            ></textarea>
          </div>
          <button class="modal-button" type="submit">Send message</button>
        </form>
      </div>
    </div>
    <!-- --------------------MENU----------------->

    <div class="section menu-container js-menu-container" id="mobile-menu">
      <div class="menu_wrapp">
        <button
          class="menu-toggle js-close-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="icon-close" width="40" height="40">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <!-- -----------Navigation----------- -->
        <div class="menu_wrapp_nav">
          <h3 class="menu_title nav">About</h3>
          <nav class="menu_nav">
            <ul class="site-nav list mobile-menu">
              <li class="item">
                <a href="#" class="link home">Home</a>
              </li>
              <li class="item">
                <a href="#" class="link Design">Design</a>
              </li>
              <li class="item">
                <a href="#" class="link Development">Development</a>
              </li>
              <li class="item">
                <a href="#" class="link Branding">Branding</a>
              </li>

              <li class="item">
                <a href="#" class="link Projects">Projects</a>
              </li>
              <li class="item">
                <a href="#" class="link Career">Career</a>
              </li>
              <li class="item">
                <a href="#" class="link Blog">Blog</a>
              </li>
              <li class="item">
                <a href="#" class="link contact-us">Contact us</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- -----------Contacts----------- -->

        <div class="menu_wrapp_social">
          <h3 class="menu_title networks">Social</h3>
          <ul class="social-mobile list mobile-menu">
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">Facebook</a>
            </li>
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">Twitter</a>
            </li>
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">Instagram</a>
            </li>
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">Behance</a>
            </li>
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">Dribbble</a>
            </li>
            <li class="social-mobile-item item">
              <a class="social-mobile-link" href="#">LinkedIn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>
